<!doctype html>
<!-- this is a global layout doc --> 
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "BAM" %></title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
  <div class="global-header type-neutral-11 bg-dark-2 phxl">
    <p class="man">Pivotal Web Services</p>
  </div>
  
  <div class="layout">
    <div class="sidebar"></div>
    <div class="main-content">
      <%= yield %>
      <div class="footer">
      <ul>
        <li><a href="#">Email Pivotal Support</a></li>
        <li><a href="#">View PWS Pricing</a></li>
        <li><a href="#">Request Quota Increase</a></li>
      </ul>
  </div>
    </div>
  </div>

  
  </body>
</html>
